/* настройки для header и footer с информацией - адрес*/
address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
}

/* общие настройки для бэкграунда */
.background_setting {
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* общие настройки для оверлей */
.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgb(0 0 0 / 0.6);
}

/* настройки для двух страниц с информацией - lots и about*/
.info-section {
  display: flex;
  flex-direction: column;
  width: 1053px;
  margin-right: 23px;
  margin-left: 24px;
}

/* общие настройки заголовка h2-span - lots и about*/
.heading-span {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

/* блок ***************************************HEADER**********************************************/

header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
  padding: 0 50px;
  font-size: 18px;
}

.header__menu-list {
  display: flex;
  align-items: baseline;
  gap: 27px;
  margin-top: -4px;
  padding-right: 2px;
  padding-left: 0.2px;
  list-style-type: circle;
}

.header__links-list-item {
  display: list-item;
  vertical-align: top;
  line-height: 1.28;
}

.header__link {
  display: inline-block;
  vertical-align: top;
  line-height: 1.2;
}

.header__link_active {
  list-style-type: none;
}

.header__link_not-active a {
  position: relative;
  display: inline;
  text-decoration: none;
}

.header__link_not-active a::after {
  content: "";
  position: absolute;
  right: -3px;
  bottom: -1px;
  left: -1px;
  height: 1px;
  background-color: currentColor;
}

.header__links-list-item:nth-child(2) a {
  margin-right: 3px;
  margin-left: 4.5px;
}

.header__links-list-item:nth-child(3) a {
  margin-left: 5px;
}

.header__logo {
  display: flex;
  justify-content: center;
  width: 136.2px;
  height: 110px;
  margin-bottom: 2.5px;
  margin-left: 1.1px;
}

.header__logo-image {
  transform: scaleY(1.015);
}

.header__address {
  justify-self: end;
  max-width: 240px;
  padding-bottom: 3px;
}

.address a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.header__address .contacts-item_phone {
  margin-top: 0.9px;
  margin-left: 0.2px;
  line-height: 1.33;
}

.header__address .contacts-item_email {
  padding-bottom: 1.1px;
  line-height: 1.33;
}

.header__address .contacts-item_city {
  margin-left: 0.8px;
  padding-right: 25px;
  padding-bottom: 1px;
  line-height: 1.35;
}

/* main ***************************************MAIN**********************************************/
/* блок ***************************************COVER**********************************************/

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 757px;
  padding: 165px 50px 50px;
  background-image: url("../images/cover.jpg");
}

.cover_title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.aligned-text {
  display: block;
  margin-right: -0.3em;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  text-transform: uppercase;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.no-letter-spacing {
  margin-right: -0.3em;
}

.aligned-text_left {
  align-self: flex-start;
}

.aligned-text_center {
  align-self: center;
  padding-top: 20px;
  text-align: center;
}

.aligned-text_right {
  align-self: flex-end;
  padding-top: 20px;
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: auto;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
}

.cover__description-text {
  padding-top: 0.5px;
  line-height: 1.27;
  word-spacing: 0.85em;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  font-size: inherit;
  text-transform: inherit;
  background-color: transparent;
  cursor: pointer;
}

/* блок ***************************************LOTS**********************************************/
.lots {
  min-height: 723px;
  margin-top: 180px;
  margin-bottom: 120px;
}

.lots__heading {
  height: 74px;
  padding: 1px 40px 0;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  color: #fff;
  list-style: none;
}

.lots__card-list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  min-height: 596px;
  padding: 48px 40px;
  line-height: 1.2;
}

.card__title-link {
  display: block;
  padding-top: 0.1px;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: none;
  text-underline-offset: 3.3px;
  text-transform: uppercase;
  list-style-type: none;
}

.card__text {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.custom-dash {
  position: relative;
  display: inline-block;
  width: 20px;
  margin: 0 -3.5px 0 1.5px;
  vertical-align: middle;
}

.custom-dash::before {
  content: "";
  position: absolute;
  right: 5px;
  bottom: -0.01em;
  left: 0;
  height: 1.2px;
  background-color: currentColor;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more {
  display: flex;
  align-items: flex-end;
  height: 53px;
  margin-top: 3px;
  padding-bottom: 2px;
  padding-left: 40px;
  color: #000;
}

.lots__look-more-link {
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

/* страница с about ***************************************ABOUT**********************************************/

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  min-height: 595px;
  margin-bottom: 165.5px;
}

.about-logo__in-black-circle {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  align-self: start;
  width: 240px;
  height: 240px;
  margin-top: 32px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  margin-top: 2px;
  margin-left: 1px;
}

.about_auction {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 449px;
  margin-top: 131px;
  margin-bottom: 13px;
}

.about_auction__title {
  height: 47px;
  margin-top: 3px;
}

.about_auction__text {
  margin-top: 100px;
}

.about_auction__text p {
  width: 693px;
  line-height: 1.2;
}

.about_auction__text p:first-of-type {
  padding-right: 5px;
}

.about_auction__text p + p {
  margin-top: 24px;
}

/* блок ***************************************FOOTER**********************************************/

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1100px;
  height: 180px;
  padding: 0 50px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: start;
  max-width: 265px;
  margin-top: 2.5px;
  margin-left: 0.5px;
  font-size: 18px;
  line-height: 1.35;
}

.footer__address .contacts-item_phone {
  line-height: 1.25;
}

.footer__address .contacts-item_email {
  margin-left: -0.3px;
}

.footer__address .contacts-item_city {
  margin-left: 1px;
  line-height: 1.4;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  align-self: start;
  margin-top: 2px;
  line-height: 1.06;
  letter-spacing: -0.055em;
  list-style: none;
}

.footer__menu-link_not-active a {
  position: relative;
  display: inline;
  text-decoration: none;
}

.footer__menu-link_not-active a::after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 1px;
  right: 0px;
  height: 1.5px;
  background-color: currentColor;
}

.footer__social-list {
  display: flex;
  justify-self: flex-end;
  justify-content: space-between;
  width: 240px;
  padding-top: 2px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
